# Velora Environment Configuration Template

# Site Verification
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION="HFNn_2zjbleXzOh7AmowXswnyXegNcokCN58nY1SdH0"
NEXT_PUBLIC_BING_SITE_VERIFICATION=""

# Analytics (Optional)
NEXT_PUBLIC_GTM_ID=""
NEXT_PUBLIC_META_PIXEL_ID=""
NEXT_PUBLIC_CLARITY_ID=""
